In [3]:
%matplotlib inline 
#specific thing for jupyter
#for importing data from csv 
import os
import tarfile
from six.moves import urllib
#for data 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml2/master/"
HOUSING_PATH = os.path.join("datasets", "housing")
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"

def fetch_data(housing_url=HOUSING_URL, housing_path=HOUSING_PATH):
    if not os.path.exists(housing_path):
        print("XD")
        os.makedirs(housing_path)
    tgz_path = os.path.join(housing_path, "housing.tgz")
    urllib.request.urlretrieve(housing_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=housing_path)
    housing_tgz.close()
    
def load_data(path = HOUSING_PATH):
    csv_path = os.path.join(path, "housing.csv")
    return pd.read_csv(csv_path)

fetch_data()
housing = load_data()
#not sure what it does though 
#housing.head()

#for showing info about dataset
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [ ]:
#for counting down parameters
housing["ocean_proximity"].value_counts()

In [ ]:
#for making short statistics about dataset; std - standard deviation
housing.describe()

In [ ]:
#making histogram
housing.hist(bins = 50, figsize = (20,15))
plt.show()

In [16]:
"""
bad example of test set:
    - doesnt stay constant while adding up new data
    - can get different values each time (seed not specified)
"""
def split_train_test(data, test_ratio):
    shuffled_indices = np.random.permutation(len(data))
    test_size = int(len(data) * test_ratio)
    test_set = shuffled_indices[:test_size]
    train_set = shuffled_indices[test_size:]
    #.iloc is a function that gets rows that match given key
    return data.iloc[test_set], data.iloc[train_set]

test, train = split_train_test(housing, 0.2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
17656,-121.89,37.29,36.0,2959.0,529.0,1125.0,520.0,4.2614,268800.0,<1H OCEAN
7289,-118.22,33.98,32.0,2643.0,737.0,2784.0,711.0,2.5352,184400.0,<1H OCEAN
7772,-118.10,33.91,35.0,1592.0,335.0,1238.0,320.0,4.9732,165000.0,<1H OCEAN
671,-122.16,37.70,36.0,1097.0,208.0,568.0,225.0,2.9917,194600.0,NEAR BAY
16905,-122.35,37.58,26.0,854.0,246.0,396.0,231.0,2.8393,375000.0,NEAR OCEAN